
.contact_container.container{
  display: flex;
  justify-content: center;
  margin-top: 179px;
  max-width: 896px;
  .contact_contariner_article{
    h4{
      font-family: "Raleway";
      font-size: 49px;

    }
    p{
      margin-top: 22px;
      font-family: "Open Sans";
      font-size: 16px;


    }
  }

  form{
    width: 50%;
    color: #05A081;
    padding-left: 114px;
    position: relative;
    display: flex;
    flex-direction: column;
    label.detals{
      color:#08A6E4;
      font-weight: bold;
      font-family: "Open Sans";
      letter-spacing: 3.28px;
      font-size: 11px;
    }

    input{
      font-family: "Open Sans";
      width: 100%;
      border: none;
      font-size: 11px;
      border-bottom:1px solid grey;
      padding-bottom: 20px;
      color: #08A6E4;
    }
    button[type=submit]{
      font-family: "Open Sans";
      font-size: 13px;
      background-color: #08A6E4;
      box-shadow: 5px 10px 14px #07ACE629;
      border-radius: 50px;
      color: white;
      padding: 20px 97px;
      border: none;;
      margin-top: 20px;
      justify-content: flex-end;
      margin-left: 120px;
    }

  }
}






label.form_checkbox{
  display: inline-block;
  position: relative;
  padding-left: 32px;
  text-align: left;
  font: 10px Open Sans;
  color: rgba(178, 178, 178, 1);
  margin-top: 30px;
}
input[type=checkbox]{
  display: none;


}
label span{
  content: "";
  display: block;
  left: 0;
  top: 4px;
  position: absolute;
  height: 22px;
  width: 22px;
  border: 1px solid rgba(209, 209, 209, 1);
  border-radius: 8px;
  opacity: 1;

}
label input:checked+span{
  background: url("../images/Icon_Check.svg") no-repeat center/70%;
}